@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

:root {
    --red: #f00;
    --black: #000;
    --white: #fff;
    --light-white: #aaa;
    --light-bg: #111;
  }
  
  * {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
  
    &::-webkit-scrollbar {
      width: 1rem;
    }
  
    &::-webkit-scrollbar-track {
      background: var(--black);
    }
  
    &::-webkit-scrollbar-thumb {
      background: var(--red);
    }
  }
  
  body {
    background: var(--white);
  }
  
  /* CSS for dropdown menu */
  .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #000;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}


  section {
    padding: 5rem 9%;
  }
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, var(--red) 93%, transparent 90%);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  
  .header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 1000;
    background: var(--black);
  
    .logo {
      font-weight: bolder;
      color: var(--white);
      font-size: 3rem;
  
      span {
        color: var(--red);
      }
    }
  
    .navbar a {
      display: inline-block;
      padding: 1.5rem 2rem;
      font-size: 1.7rem;
      color: var(--white);
  
      &:hover {
       background: var(--red);
      }
    }
  }
  
  #menu-btn {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
  }
  
  .home {
    padding: 0;
    margin-top: 6.5rem;
  
    .slide {
      min-height: 70vh;
      background-size: cover !important;
      background-position: center !important;
      padding: 2rem 9%;
      display: flex;
      align-items: center;
  
      .content {
        width: 60rem;
  
        span {
          font-size: 2rem;
          color: var(--red);
          display: block;
        }
  
        h3 {
          font-size: 5rem;
          color: var(--white);
          padding: 1rem 0;
        }
      }
    }
  }
  
  .about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
  
    .image {
      flex: 1 1 42rem;
      position: relative;
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        background: var(--red);
        height: 15rem;
        width: 15rem;
      }
  
      &::before {
        top: 0;
        left: 0;
      }
  
      &::after {
        bottom: 0;
        right: 0;
      }
  
      img {
        width: 100%;
        padding: 2rem;
      }
    }
  
    .content {
      flex: 1 1 42rem;
  
      span {
        font-size: 2rem;
        color: var(--red);
      }
  
      .title {
        font-size: 4rem;
        color: var(--black);
        margin-top: .5rem;
      }
  
      p {
        font-size: 1.5rem;
        color: var(--black);
        padding: 1rem 0;
        line-height: 2;
      }
  
      .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 1rem;
  
        .box {
          flex: 1 1 20rem;
  
          h3 {
            font-size: 2rem;
            color: var(--black);
  
            i {
              padding-right: 1.5rem;
              color: var(--red);
            }
          }
        }
      }
    }
  }
   
  .button {
    font-size: 1rem;
    display: inline-block;
    background-color: var(--white);
    padding: 18px 32px;
    border: 2px solid var(--red);
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
    transition: background .3s;
  }
  
  .button:hover{
    background-color: var(--red);
  }
  .button i{
    font-size : 1.25rem; 
    transition : transform .3s;
  }
  
  .button__flex{
    font-size: 17px;
    display:inline-flex;
    align-items : center;
    justify-content: center;
    column-gap : .5rem;
  }
  
  .button__flex:hover i{
    transform: translateX(.25rem);
  }
  
  
  /* /=============== CALCULATE ===============/ */
  .calculate{
    padding-bottom:0;
  }
  
  .calculate__container{
    
   row-gap: 4rem;
  }
  
  .calculate_content.section_titles{
    margin-bottom: 2rem;
    text-align:center;
  }
  
  .calculate__description{
    text-align:center;
    margin-bottom:2.5rem
  }
  .calculate__form{
    display:grid;
    row-gap:1rem;
  }
  
  .calculate__box{
    position:relative;
    border:2px solid var(--red);
  
  }
  
  .calculate__input{
    font-size: 15px;
    width: 100%;
    background: transparent;
    padding: 20px 56px 20px 24px;
    outline:none;
    border:none;
    color:var(--light-white);
  }
  .calculate__input::-webkit-outer-spin-button,
  .calculate__input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin: 0;
  }
  
  .calculate__input[type=number]{
    -moz-appearance: textfield;
  }
  
  .calculate__label{
    color: var(--white);
    font-size: 10px;
    position:absolute;
    right: 1.5rem;
    top:1.25rem;
  }
  
  .calculate__form.button{
    margin-top: 1.5rem;
  }

  
  .calculate__message{
    color: var(--red);
    font-size: 15px;
    position:absolute;
    transform:translateY(1rem);
  }
  

  /* Section */
  
  
  .section__data {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .section__title, 
  .section__title-border {
    font-size: var(--big-font-size);
    letter-spacing: 1.5px;
  }
  
  .section__subtitle {
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--first-color);
    transform: rotate(-2deg);
  }
  
  .section__titles {
    font-size: 25px;
    color: var(--red);
    display: flex;
    column-gap: .75rem;
    justify-content: left;
  }
  
  .section__title-border {
    -webkit-text-stroke: 1px var(--light-white);
    color: transparent;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .main {
    overflow: hidden; /* For animation ScrollReveal */
  }
  
  .color-red {
    color: hsl(0, 80%, 64%);
  }
  
  .color-green {
    color: var(--first-color);
  }

  

  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(4, 25rem);
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box .links {
    font-size: 1.5rem;
    display: block;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box .links:hover {
    color: var(--red);
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box p i {
    padding-right: 0.5rem;
    color: var(--red);
}

.footer .box-container .box .share {
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--light-bg);
    border-radius: 50%;
    margin-right: 0.5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--red);
}

  
  /* media queries */
  @media(max-width:991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 0 2rem;
    }
  
    section {
      padding: 3rem 2rem;
    }
  
    .home .slide {
      padding: 2rem 5%;
  
      .content {
        width: 50rem;
  
        h3 {
          font-size: 4rem;
        }
      }
    }
  }
  
  @media(max-width:768px) {
    #menu-btn {
      display: inline-block;
  
      &.fa-times {
        transform: rotate(180deg);
      }
    }
  
    .header {
      padding: 2rem;
  
      .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--black);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  
        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
  
        a {
          display: block;
          font-size: 2rem;
        }
      }
    }
  
    .about {
      gap: 3rem;
  
      .image {
        margin-top: 5rem;
      }
  
      .content .title {
        font-size: 3rem;
      }
    }
  }
  
  @media(max-width:450px) {
    html {
      font-size: 55%;
    }
  }
  
  .swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background: var(--white);
    border-radius: 0;
  
    &.swiper-pagination-bullet-active {
      background: var(--red);
  }
}
/* Common style start */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --themeRed: #e43a47;
    --gray: #efefef;
}
button,
body{
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

p
{
    font-size: 14px;
    line-height: 26px;
}

 .fullContainer{
    width: 100%;
 }

 .container{
    width: 1140px;
    margin: auto;
 }

 .sectionTitle{
        width: 300px;
        border-bottom: 3px solid var(--themeRed);
        text-align: center;
        font-size: 2rem;
        font-weight: 200;
        margin: 0 auto 50px;
        position: relative;
        padding: 10px 0;
        text-transform: uppercase;
 }

 .sectionTitle::after{
        display: inline-block;
        content: "";
        height: 15px;
        width: 15px;
        background-color: var(--themeRed);
        position: absolute;
        left: calc(50% - 10px);
        top: calc(75% - 7px);
        transform: rotate(45deg) translate(50%,50%);
        border: 3px solid #fff;
 }

section{
        padding: 150px 0;
        position: relative;
}

/* Common style end */
/* Home style start */

/* Home style end */

/* AboutSection start */

/* AboutSection end */
  

/* Program Section start */

.programs{
        background-color: #e2e2e2;
}

.programs .boxContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 300px;
        margin-left: 10%;
}

.programs .boxContainer .box{
        background-color: #fff;
        text-align: center;
        padding-bottom: 25px;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 #c5c5c5;
        position: relative;
        margin-bottom: 15px;
        width: 400%;
}
.programs .boxContainer .box:hover{
  transform: translatey(2px);
}
.programs .boxContainer .box .cardImage{
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
}


.programs .boxContainer .box:nth-child(1) .cardImage{
        background-image: url("p3 (1).jpeg");
        background-color: black;
}

.programs .boxContainer .box:nth-child(2) .cardImage{
        background-image: url("p1.jpeg");
}

.programs .boxContainer .box:nth-child(3) .cardImage{
        background-image: url("p2.jpeg");
}



.programs .boxContainer .box:hover .cardImage:after {
        top: 100%;
}

.programs .boxContainer .box .programTitle {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 600;
        color: #444;
}

.programs .boxContainer .box .donationCount {
        font-size: 13px;
        font-weight: 600;
        color: #444;
        margin-top: 10px;
}

.programs .boxContainer .box .donationCount span {
        color: var(--themeRed);
}

.programs .boxContainer .box button {
       position: absolute;
       left: 50%;
       background-color: var(--themeRed);
       color: #fff;
       transform: translate(-50%);
       bottom: -15px;
       border-radius: 60px;
       padding: 7px 15px;
       border: 0;
       outline: none;
       cursor: pointer;
}

/* Program Section end */
